<nav id="sidebar" style="height: 100%;">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(assets/customer_dashboard/images/logo.jpg);"></div>
            <h3>Sample User</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li *ngFor="let eachMenuItem of this.menuItems">
            <a href="#" [routerLink]="eachMenuItem.path"><span [ngClass]="eachMenuItem.class"></span> {{ eachMenuItem.title }}</a>
        </li>
    </ul>
</nav>