<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Member Registration</h2>

    <div class="row">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Main Branches</a>
                    <ng-template ngbNavContent>
                        <h5>Register Your Main Branches & Manage</h5>
                        <form action="" [formGroup]="addNewMainBranchForm" class="form-group"
                            (ngSubmit)="onSubmitAddMainBranchForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="branchName">Employee Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Branch Name"
                                        formControlName="employeeName">
                                </div>
                                <div class="col-6">
                                    <label for="branchName">Employee Address :</label>
                                    <input type="text" class="form-control" placeholder="Enter Branch Address"
                                        formControlName="employeeAddress">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="branchName">Employee NIC No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Branch Mobile Number"
                                        formControlName="employeeNicNo">
                                </div>
                                <div class="col-6">
                                    <label for="branchName">Employee Referance No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Branch Email Address"
                                        formControlName="employeeRefNo">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button class="btn btn-primary btn-sm">Add New Branch</button>
                                        </div>
                                        <div class="col-9">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <hr>
                            <div class="col-12">
                                <h5>Manage Branches</h5>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Employee Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Branch No</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let eachBranch of this.allMainBranchesList">
                                            <td>{{ eachBranch.branchRefNo }}</td>
                                            <td>{{ eachBranch.branchEmployeeName }}</td>
                                            <td>{{ eachBranch.branchEmployeeNicNumber }}</td>
                                            <td>{{ eachBranch.branchEmployeeAddress }}</td>
                                            <td>
                                                <!-- <a href="" class="btn btn-success btn-sm" (click)="openDialog()" >Update</a> -->
                                                <button class="btn btn-success btn-sm"
                                                    (click)="openMainBranchUpdateDialog()">Update</button>
                                                <a href="" class="ms-3 btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Agent</a>
                    <ng-template ngbNavContent>
                        <h5>Register New Agent & Manage</h5>
                        <form action="" [formGroup]="addAgentDetailsForm" class="form-group"
                            (ngSubmit)="onSubmitAddAgentDetailsForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Agent Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Agent Name"
                                        formControlName="agentname">
                                </div>
                                <div class="col-6">
                                    <label for="">NIC Number :</label>
                                    <input type="text" class="form-control" placeholder="Enter Agent NIC Number"
                                        formControlName="agentNicNumber">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Location :</label>
                                    <input type="text" class="form-control" placeholder="Enter Contact Number"
                                        formControlName="agentLocation">
                                </div>
                                <div class="col-6">
                                    <label for="">Ref No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Email Address"
                                        formControlName="agentRefNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button class="btn btn-primary btn-sm">Add New Agent</button>
                                        </div>
                                        <div class="col-9">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <hr>
                            <div class="col-12">
                                <h5>All Agents</h5>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Agent Name</th>
                                            <th scope="col">NIC Number</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let eachAgent of this.allAgentList">
                                            <td>{{ eachAgent.agentRefNo }}</td>
                                            <td>{{ eachAgent.agentname }}</td>
                                            <td>{{ eachAgent.agentNicNumber }}</td>
                                            <td>{{ eachAgent.agentLocation }}</td>
                                            <td>
                                                <!-- <a href="" class="btn btn-success btn-sm" (click)="openDialog()" >Update</a> -->
                                                <button class="btn btn-success btn-sm"
                                                    (click)="openAgenthUpdateDialog()">Update</button>
                                                <a href="" class="ms-3 btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Labeling</a>
                    <ng-template ngbNavContent>
                        <h5>Register New Labling Employer & Manage</h5>
                        <form action="" [formGroup]="addLablingEmployeeForm" class="form-group"
                            (ngSubmit)="onSubmitAddLablingEmployeeDetailsForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Employer Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Employee Name"
                                        formControlName="labelEmployeeName">
                                </div>
                                <div class="col-6">
                                    <label for="">NIC Number :</label>
                                    <input type="text" class="form-control" placeholder="Enter Employee NIC Number"
                                        formControlName="labelEmpNicNumber">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Employer Contact No.</label>
                                    <input type="text" class="form-control" placeholder="Enter Contact Number"
                                        formControlName="labelEmpContactNo">
                                </div>
                                <div class="col-6">
                                    <label for="">Employee Address :</label>
                                    <input type="text" class="form-control" placeholder="Enter Email Address"
                                        formControlName="labelEmpAddress">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Employer Ref No.</label>
                                    <input type="text" class="form-control" placeholder="Enter Contact Number"
                                        formControlName="labelEmpRefNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3">
                                            <button class="btn btn-primary btn-sm">Add New Employer</button>
                                        </div>
                                        <div class="col-9">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <hr>

                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Packaging</a>
                    <ng-template ngbNavContent>
                        <h5>Register New Packaging Employer & Manage</h5>
                        <form action="" [formGroup]="addPackagingEmployeeForm" class="form-group" (ngSubmit)="onSubmitAddPackagingEmployeeForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Employer Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Agent Name" formControlName="packagingEmpName">
                                </div>
                                <div class="col-6">
                                    <label for="">NIC Number :</label>
                                    <input type="text" class="form-control" placeholder="Enter Agent NIC Number" formControlName="packagingEmpNicNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Employer Contact No.</label>
                                    <input type="text" class="form-control" placeholder="Enter Contact Number" formControlName="packagingEmpContactNo">
                                </div>
                                <div class="col-6">
                                    <label for="">Employee Address :</label>
                                    <input type="text" class="form-control" placeholder="Enter Email Address" formControlName="packagingEmpAddress">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Employee Ref No.</label>
                                    <input type="text" class="form-control" placeholder="Enter Contact Number" formControlName="packagingEmpRefNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3">
                                            <button class="btn btn-primary btn-sm">Add New Employer</button>
                                        </div>
                                        <div class="col-9">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <hr>

                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink>Line</a>
                    <ng-template ngbNavContent>
                        <h5>Register New Line Details & Manage</h5>
                        <form action="" [formGroup]="addShopDetailsForm" class="form-group" (ngSubmit)="onSubmitAddNewShopDetailsForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Shop Owner NIC No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Shop Owner NIC Number" formControlName="shopOwnerNicNo">
                                </div>
                                <div class="col-6">
                                    <label for="">Owner Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Owner Name" formControlName="shopOwnerName">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Shop Location. :</label>
                                    <input type="text" class="form-control" placeholder="Enter Shop Location" formControlName="shopLocation">
                                </div>
                                <div class="col-6">
                                    <label for="">Mobile No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="shopMobileNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button class="btn btn-primary btn-sm">Add New Line</button>
                                        </div>
                                        <div class="col-10">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <hr>

                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="6">
                    <a ngbNavLink>Transport</a>
                    <ng-template ngbNavContent>
                        <form action="" [formGroup]="addTransportEmployeeDetailsForm" class="form-group" (ngSubmit)="onSubmitTransportEmployeeDetailsForm()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Employee Name :</label>
                                    <input type="text" class="form-control" placeholder="Enter Shop Owner NIC Number" formControlName="transportEmpName">
                                </div>
                                <div class="col-6">
                                    <label for="">Employee NIC No :</label>
                                    <input type="text" class="form-control" placeholder="Enter Owner Name" formControlName="transportEmpNicNo">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="">Employee Mobile :</label>
                                    <input type="text" class="form-control" placeholder="Enter Shop Location" formControlName="transportEmpMobile">
                                </div>
                                
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button class="btn btn-primary btn-sm">Add New Line</button>
                                        </div>
                                        <div class="col-10">
                                            <button class="btn btn-warning btn-sm">Reset Feilds</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <hr>

                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <!-- <pre>Active: {{ active }}</pre> -->
        </div>
    </div>
</div>