<div class="row">
    <div class="card-body">
        <h1 class="card-title">Update Main Branch</h1>
        <hr>
        <form action="" class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="">Employee Name :</label>
                    <input type="text" class="form-control mt-2" placeholder="Eg. Kamal Nishantha">
                </div>
                <div class="col-6">
                    <label for="">Employee Name :</label>
                    <input type="text" class="form-control mt-2" placeholder="Eg. Kamal Nishantha">
                </div>
            </div>
        </form>
    </div>
</div>