<div mat-dialog-content class="row">
    <h1 mat-dialog-title>Create New Stock</h1>
    <hr>
    <form [formGroup]="addStockDetailsForm" action="" class="form-group mb-2" (ngSubmit)="onSubmitAddnewStockDetailsForm()">
        <div class="row">
            <div class="col-12">
                <label for="">Enter Stock Name :</label>
                <input type="text" class="form-control mt-1" placeholder="Eg. Sample Stock" formControlName="stockName">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <label for="">Enter Stock Description :</label>
                <textarea class="form-control" cols="30" rows="5" formControlName="stockDescription"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-10 d-flex flex-row-reverse">
                <button class="btn btn-primary btn-sm">Save</button>
            </div>
            <div class="col-2">
                <button matDialogClose="true" class="btn btn-danger btn-sm">Close</button>
            </div>
        </div>
    </form>
</div>
